<h2>{{#str}}problemdetails, local_modreportproblem{{/str}}</h2>

<p><b>{{#str}}course, core{{/str}}</b>: <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}">{{coursename}}</a></p>

<p><b>{{#str}}module, local_modreportproblem{{/str}}</b>: <a href="{{config.wwwroot}}/mod/{{module}}/view.php?id={{cmid}}">{{modulename}}</a></p>

<hr />

<p><b>{{#str}}type, local_modreportproblem{{/str}}</b>: {{type}}</p>

<p><b>{{#str}}userfullname, local_modreportproblem{{/str}}</b>: {{userfullname}}</p>

<p><b>{{#str}}schedule, local_modreportproblem{{/str}}</b>: {{date}} {{hour}}</p>

<p class="mb-0"><b>{{#str}}problemdetails, local_modreportproblem{{/str}}</b>:</p>
<textarea rows="5" disabled class="form-control mb-2">{{details}}</textarea>

<div id="answer-area" {{^answer}}class="d-none"{{/answer}}>
    <p class="mb-0"><b>{{#str}}answer, local_modreportproblem{{/str}}</b>:</p>
    <textarea id="answer-textarea" rows="5" disabled class="form-control">{{answer}}</textarea>
</div>

{{^answer}}
    <a class="btn btn-info" id="btn-answer" href="#">{{#str}}answertheproblem, local_modreportproblem{{/str}}</a>

    {{#js}}
        require(['local_modreportproblem/problem/answer'], function(Answer) {
            Answer.init('#btn-answer', {{contextid}}, {{id}});
        });
    {{/js}}
{{/answer}}