<div class="moove-container-fluid p-0 mt-2 mb-3 path-local_modreportproblem">
    <a href="#" class="btn btn-danger modreportproblem"><i class="fa fa-exclamation-circle "></i> {{#str}}reportproblem, local_modreportproblem{{/str}}</a>
</div>

{{#js}}
    require(['local_modreportproblem/problem/create'], function(CreateProblem) {
        CreateProblem.init('.modreportproblem', {{contextid}}, {{courseid}}, {{cmid}}, '{{module}}');
    });
{{/js}}
