<div class="moove-container-fluid p-0 mb-4 path-local_modreportproblem">
    <a href="#" class="btn btn-danger modreportproblem"><i class="fa fa-exclamation-circle "></i> Report a problem</a>
</div>

{{#js}}
    require(['local_modreportproblem/reportproblem'], function(ReportProblem) {
        ReportProblem.init({{courseid}}, {{cmid}}, '{{modname}}', {{{options}}});
    });
{{/js}}
